service insmod_pstore_blk /vendor/bin/init.pstore_blk.sh
    class main
    user root
    group root system
    disabled
    oneshot

on property:persist.vendor.pstore.model=1
    start insmod_pstore_blk
    setprop persist.vendor.pstore.model 0
